.ProfilePage{
    position: relative;
    display: grid;
    grid-template-columns: 18rem auto 20rem;
    gap: 1rem;
}
.ProfilePage-center{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}